html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button {
    color: #FFFFFF;
    background-color: #90BF49;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #709d2b;
}
.button:active {
    background-color: #188C81;
}
nav {
    background-color: #188C81;
}
.selection{
    color: #FFFFFF;
}
.img {
    width: 200px;
    transition: width 0.5s ease;
}
.img:hover {
    width: 1000px;
    transition: width 0.5s ease;
}