html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
    background-color: #188C81;
    z-index: 2;
}
input[type=button] {
    background-color: #90BF49;
    border: #90BF49;
}
.basenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #90BF49;
    overflow-x: hidden;
    padding-top: 60px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #90BF49;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidenav a, .button {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #FFFFFF;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover, .button:hover {
   color: #188C81;
}
.sidenav a:active, .button:active {
   color: #0a3733;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   margin-top: 40px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.selection {
   color: #FFFFFF;
}

.img {
   width: 200px;
   transition: width 0.8s ease;
}
.img:hover {
   width: 1000px;
   transition: width 0.8s ease;
}
div.container {
    margin-right: 0;
    margin-left: 0;
}
.mainContent{
    margin-left: 20vw !important;
    width: 100%;
}
.tables{
    width: 1300px;
    margin-left: 100px;
}
.tables th{
    padding-right: 20px;
}
.tables tr{
    border-bottom: 1px solid #e1e1e1;
}