@model PollinatorPathway.Areas.Identity.Data.PollinatorPathwayUser
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Admin Portal";
}

<fieldset>
        <h1>Welcome, @Model.FirstName</h1>
    <div>
        <input  class = "button" type="submit" onclick="location.href='@Url.Action("CreateProfile", "Home")'"  value="Create Profile"/>
    </div>
    <div>
        <input class = "button" type="button" asp-area="Identity" asp-page="/Account/Register" value="Create Account"/>
    </div>
    <div>
        <input class = "button" type="button" onclick="location.href='@Url.Action("ImageApproval", "Home")'"value="Approve Content"/>
    </div>
    <div>
        <input class = "button" type="button" onclick="location.href='@Url.Action("getUsers", "Home")'" value="Search User Base"/>
    </div>
</fieldset>