@model PollinatorPathway.Areas.Identity.Data.PollinatorPathwayUser
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Admin Portal";
}

<div class = "mainContent">
    <fieldset>
        <h1>Welcome, @Model.FirstName</h1>

    <div class="basenav">
        <span id = "open" style="font-size:30px;cursor:pointer;color:white;padding-left:10px;" onclick="openNav()">&#9776; </span>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div>
            <input  class = "button" type="button" onclick="location.href='@Url.Action("CreateProfile", "Home")'"  value="Create User Profile"/>
        </div>
        <div>
             <input class = "button" type="button" onclick="location.href='@Url.Action("getUsers", "Home")'" value="Search User Profiles"/>
        </div>
         <div>
             <a asp-area="Identity" asp-page="/Account/Register">Create Admin Account</a>
        </div>
         <div>
             <input class = "button" type="button" onclick="location.href='@Url.Action("ImageApproval", "Home")'"value="Approve Content"/>
        </div>

    </div>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</fieldset>
</div>