@{
    ViewData["Title"] = "Profile Creation";
}

<fieldset>
    <form>
        <h1>Profile Creation for Users</h1>
        <div>
            <label>First Name</label>
            <input placeholder = "User's First Name:"/>
        </div>
        <div>
            <label>Last Name</label>
            <input placeholder = "User's Last Name:"/>
        </div>
        <div>
            <label>Email Adress</label>
            <input placeholder = "User's Email Adress:"/>
        </div>
        <div>
            <label>Phone Number</label>
            <input placeholder = "User's Phone Number:"/>
        </div>
        <div>
            <label>Password</label>
            <input placeholder = "User's Password:"/>
        </div>
        <input class = "button" type="submit" value="Create Profile" />
    </form>
</fieldset>